<h3 class="masthead-brand">Tandem{{$path()}}</h3>
<ul class="nav masthead-nav" bs-nav>
  <li ng-class="{active: $path() == '/'}"><a href="#/">Home</a></li>
  <li ng-if="loggedIn == false" ng-class="{active: $path() == '/login'}"><a href="#/login">Login</a></li>
  <li ng-if="loggedIn == true" ng-class="{active: $path() == '/logout'}"><a href="#/logout">Logout</a></li>
  <!-- <li ng-class="{active: $path() == '/features'}"><a href="#/features">Features</a></li> -->
  <!-- <li ng-class="{active: $path() == '/contact'}"><a href="#/contact">Contact</a></li> -->
</ul>
