<!doctype html>
<html class="no-js" ng-app="TandemWeb">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="HeaderCtrl">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <!-- <li class="active"><a ng-href="#">Home</a></li> -->
          <li ng-class="{ active: isActive('/chart')}"><a ng-href="#/chart">Noise vs X</a></li>
          <li ng-if="loggedIn === false" ng-class="{ active: isActive('/login')}"><a ng-href="#/login">Login</a></li>
          <li ng-if="loggedIn == true"><a ng-href="#/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">tandemWeb</h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <!-- <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p> -->
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  <script src="bower_components/checklist-model/checklist-model.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/controllers/app.js"></script>
  <script src="scripts/services/http_auth_interceptor.js"></script>
  <script src="scripts/services/endpoints.js"></script>
  <script src="scripts/services/line_charts.js"></script>
  <script src="scripts/controllers/header.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/logout.js"></script>
  <script src="scripts/controllers/user.js"></script>
  <script src="scripts/controllers/noise_sa.js"></script>
        <!-- endbuild -->
</body>
</html>
